body {background-color: black;
padding-top: 5%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-left: 15%;}
  
  
h1 {color: red;
font-family:monospace;}
  
p {color: powderblue;
font-family:monospace;}

img.resize {
  width:400px;
  height:200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* boton hover palabritas */
.tooltip .tooltiptext {
  visibility: hidden;
  font-family: monospace;
  width: 120px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  /* :3 */
