body {background-color: black;
    padding: 15%;}
h1 {color: red;}
p {color: powderblue;}

img.resize {
  width:400px;
  height:200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 20px;
}
