body {background-color: black;
}
 
.content {
  background-color: black;
  width: 70%;
  border-top: 60px solid transparent;
 border-right:1px solid white;
 border-left:1px solid white;
  border-bottom: 60px solid transparent;
  padding: 50px;
  margin: auto;
  box-shadow: 20px 20px #718F93;
}
  
h1 {color: red;
font-family:monospace;}
  
p {color: powderblue;
font-family:monospace;}

img.resize {
  width:400px;
  height:200px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 20px;
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #718F93;
  background-color: white;
  text-decoration: none;

}
a:active {
  color: #718F93;
  background-color: white;
  text-decoration: none;

}

/* boton hover palabritas */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font-family: monospace;
  color: white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  font-family: monospace;
  width: 320px;
  background-color: #485B5E;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
  /* :3 */
